/*Master Styles*/
body{
    margin: 1px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

.maincontent{
    display: grid;
    grid-template-rows: 1cm 2cm;
}


/* Navigation bar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.leftcol{
    display: flex;
}

.navbar>.leftcol>div{
    margin-right: 10px;
    font-size: 1.2em;
}

.link1{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link2{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link3{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link4{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.link5{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link6{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.link7{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link8{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.link9{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link10{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link1 a {
    color: #8a8a8a;
    text-decoration : none;
    transition: color 0.5s
}

.link2 a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s
}

.link3 a {
    color: #8a8a8a;
    text-decoration : none;
    transition: color 0.5s
}

.link4 a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s
}
.link5 a {
    color: #8a8a8a;
    text-decoration : none;
    transition: color 0.5s
}

.link6 a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s
}
.link7 a {
    color: #8a8a8a;
    text-decoration : none;
    transition: color 0.5s
}

.link8 a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s
}
.link9 a {
    color: #8a8a8a;
    text-decoration : none;
    transition: color 0.5s
}

.link10 a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s
}

.link1 :hover{
    border-bottom: 1px solid black;
}

.link1 a :hover{
    color: black;
}

.link2 :hover{
    border-bottom: 1px solid black;
}

.link2 a :hover{
    color: black;
}

.link3 :hover{
    border-bottom: 1px solid black;
}

.link3 a :hover{
    color: black;
}

.link4 :hover{
    border-bottom: 1px solid black;
}

.link4 a :hover{
    color: black;
}

.link5 :hover{
    border-bottom: 1px solid black;
}

.link5 a :hover{
    color: black;
}

.link6 :hover{
    border-bottom: 1px solid black;
}

.link6 a :hover{
    color: black;
}

.link7 :hover{
    border-bottom: 1px solid black;
}

.link7 a :hover{
    color: black;
}

.link8 :hover{
    border-bottom: 1px solid black;
}

.link8 a :hover{
    color: black;
}

.link9 :hover{
    border-bottom: 1px solid black;
}

.link9 a :hover{
    color: black;
}

.link10 :hover{
    border-bottom: 1px solid black;
}

.link10 a :hover{
    color: black;
}


.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a{
    color: black;
}

/*Portfolio Styles*/
.portfolioitems{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 11cm 11cm 11cm 11cm 11cm 11cm;
    }

.portfolioitem{
    position: relative;
}

 /* .subtitle{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}  */

.portfolioitem img {
    width: 90%;
    height: 300px;
}

.subtitle{
    font: italic;
    font-size: 12pt;
    font-weight: 600;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
